{% extends "base.html" %}
{% load table_operations %}
{% block head_title %}{{object.name}}{% endblock %}
{% block content %}

<h2>Purchase details</h2>
<table class="table table-sm">
   <thead>
     <tr>
       <th class="table-primary">Purchased</th>
       <th class="table-success">from</th>
       <th class="table-dark">discount</th>
       <th class="table-danger">payment term</th>
       <th class="table-warning">note</th>
       <th class="table-secondary">updated</th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <td class="table-primary">{{ object.created_at }} </td>
       <td class="table-success">{{object.vendor}}</td>
       <td class="table-dark">{{object.get_discount_display }}</td>
       <td class="table-danger">{{object.get_payment_display}}</td>
       <td class="table-warning">{{object.note}}</td>
       <td class="table-secondary">{{object.updated_at}}</td>
     </tr>
   </tbody>
 </table>

    <table id="mydatatable" class="display" style="width:100%">
      <thead>
        <tr>
          <th scope="col">Product</th>
          <th scope="col">Quantity</th>
          <th scope="col">Discounted price</th>
          <th scope="col">Amount</th>
          <th scope="col">Points sum</th>
        </tr>
      </thead>
      <tbody>
  {% for i in purchase_object_list %}
        <tr>
          <td><a href="{% url 'product:product-detail' i.product.id %}/">{{ i.product.name }}</td>
          <td>{{ i.quantity }}</td>
          <td>{{ i.product.price | discounted:object.discount }}</td>
          <td>{% mult_of_discon i.product.price object.discount i.quantity  %}</td>
          <td> {% if i.product.producer == 'CC' %}
            {{ i.quantity | mult:i.product.points }}</td>
                {% endif %}
        </tr>
  {% endfor %}
  </tbody>
         <tfoot>
             <tr>
               <th scope="col">Product</th>
               <th scope="col">Quantity</th>
               <th scope="col">Discounted price</th>
               <th scope="col">Amount</th>
               <th scope="col">Points sum</th>
             </tr>
         </tfoot>
     </table>

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group mr-2" role="group" aria-label="First group">
  <a class="btn btn-outline-warning btn-sm" href="{% url 'purchase:purchase-update' object.id %}">Update</a>
  <a class="btn btn-outline-danger btn-sm" href="{% url 'purchase:purchase-delete' object.id %}">Delete</a>
  <a class="btn btn-outline-info btn-sm" href="{% url 'purchase:purchase-list' %}">Back to Purchase List</a>
</div>
</div>

{% endblock %}
