<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">VicStore</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
  {% if user.is_staff %}
  <li class="nav-item active">
      <a class="nav-link" href="{% url 'logout' %}">Log out<span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item active">
      <a class="nav-link" href="{% url 'home-page' %}">Home<span class="sr-only">(current)</span></a>
  </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Product
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'product:product-list' %}">Product list & Stock</a>
          <a class="dropdown-item" href="{% url 'product:product-discount' %}">Discount table</a>
          <!-- <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a> -->
        </div>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="{% url 'purchase:purchase-list' %}">Purchase<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="{% url 'customer:customer-list' %}">Customers<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="{% url 'sell:sell-list' %}">Sales<span class="sr-only">(current)</span></a>
      </li>


    </ul>
  {% else %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'login' %}">Log in<span class="sr-only">(current)</span></a>
      </li>
  {% endif %}
  </div>
</nav>
